@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center position-absolute top-50 start-50 translate-middle">
    <h1 class="display-4">Url Shortner</h1>
    <input type="text" id="urlInput" class="form-control form-control-sm" placeholder="Enter URL to shorten" />
    <button id="shortenButton" class="btn btn-primary mt-2">Shorten</button>
</div>
